<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>推し活ダッシュボード</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>推し活ダッシュボード</h1>
    </header>

    <div class="container">
        <div class="cards">
            <div class="card">
                <h2>今日の天気</h2>
                {{ weather_html }}
            </div>
            <div class="card">
                <h2>今日のニュース</h2>
                <ul>
                    {{ news_html }}
                </ul>
            </div>
            <div class="card">
                <h2>今日の名言</h2>
                {{ quote_html }}
            </div>
            <div>
                <h2>ランダム画像</h2>
                {{ image_html }}
            </div>
        </div>

        <h2>お気に入り</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>タイトル</th>
                <th>ジャンル</th>
            </tr>

            {{ favorite_rows }}

        </table>
            
        <div class="buttons">
            <a href="/add" class="btn">お気に入り追加</a>
            <a href="/search" class="btn">お気に入り検索</a>
            <a href="/delete" class="btn">お気に入り削除</a>
        </div>
    </div>
</body>
</html>