<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>推し活ダッシュボード</title>
    <link rel="stylesheet" href="/kadai/css/style.css">
</head>
<body>
    <header>
        <h1>推し活ダッシュボード</h1>
    </header>

    <div class="continer">
        <div class="cards">
            <div class="card">
                <h2>今日の天気</h2>
                <p>晴れ</p>
                <p>気温:28℃</p>
            </div>
            <div class="card">
                <h2>今日のニュース</h2>
                <ul>
                    <li>推しの新しいグッズ販売！</li>
                    <li>新作のアニメが今週スタート</li>
                </ul>
            </div>
            <div class="card">
                <h2>今日の名言</h2>
                <blockquote>
                    「とりあえずやれ」
                </blockquote>
            </div>
            <div>
                <h2>ランダム画像</h2>
                <img src="https://picsum.photos/400/220" alt="ランダム画像">
            </div>
        </div>
        <h2>お気に入り</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>タイトル</th>
                <th>ジャンル</th>
            </tr>
            <tr>
                <td>1</td>
                <td>なとり</td>
                <td>音楽</td>
            </tr>
            <tr>
                <td>2</td>
                <td>銀魂</td>
                <td>アニメ</td>
            </tr>
            <tr>
                <td>3</td>
                <td>プロセカ</td>
                <td>ゲーム</td>
            </tr>
            <tr>
                <td>4</td>
                <td>叶</td>
                <td>配信者</td>
            </tr>
        </table>
        <div class="buttons">
            <a href="/add" class="btn">お気に入り追加</a>
            <a href="/search" class="btn">お気に入り検索</a>
            <a href="/delete" class="btn">お気に入り削除</a>
        </div>
    </div>
</body>
</html>